<IfModule mod_expires.c>
  ExpiresActive On

  # Obrazy, ikony
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Pliki CSS i JavaScript
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"

  # Fonty
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>